demandas.txt
*.docx
*.pdf
diabetes/
cancer/
artigos/
archived/
tutoriais/
security/
titanic/
vinhos/
*.zip
*.rar
acidentes20*.*
valores_atributos
dataset_originais
anotations.md
correcoes.md
old_readme.md
*.txt
utils/